// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "bootstrap";

// support for https://github.com/DuroSoft/rails_bootstrap_sortable
//*= require bootstrap-sortable
@import "bootstrap-sortable";

.float-right {
    float: right!important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  background-color: fff;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: fff;
  font-size: 1.5rem;
}
.header {
  padding-bottom: 1em;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

td.tdsmall {
  font-size: 1rem;
}



